@use "@/styles/_mixins" as *;

/* PROJECTS */
.projects {
  width: 100%;
  background-color: var(--color-gray);

  // common
  .web {
    display: block !important;
  }

  .mob {
    display: none !important;
  }

  // summary
  .scrollSection {
    height: auto;
    min-height: 100vh;

    .wrapper {
      overflow: hidden;
      height: 100vh;

      .title {
        padding: 4rem;
        line-height: 5.2rem;
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
      }

      .cards {
        display: flex;
        gap: 4rem;
        padding: 0 4rem;
        height: 100%;

        .card {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          min-width: 25vw;
          height: 80%;
          background-color: var(--color-white);
          border-radius: 1.6rem;
          box-shadow: var(--box-shadow);
          list-style: none;
          cursor: pointer;

          &__text {
            padding: 2.4rem;

            p {
              padding: 0 0.4rem;
            }

            .number {
              margin-bottom: -0.8rem;
              margin-left: -0.8rem;
              font-size: 8.4rem;
              font-weight: 100;
              color: var(--main-mint);
            }

            .title {
              display: inline-block;
              margin-top: -2rem;
              padding: 0 0.4rem;
              line-height: 4rem;
              font-size: 2.8rem;
              background-color: var(--main-mint);
            }

            .summary {
              margin: 1.6rem 0;
              min-height: 7.2rem;
              line-height: 2.4rem;
              word-break: keep-all;
              letter-spacing: -0.024em;
            }

            .period,
            .company,
            .stack {
              span {
                display: inline-block;
                position: relative;
                line-height: 2.4rem;
                letter-spacing: -0.024em;
              }
            }
          }

          &__image {
            img {
              position: static !important;
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}

/* MODAL */
.modal {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  &__box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 72vw;
    height: 80vh;
    background-color: var(--color-white);
    border-radius: 2.4rem;
    cursor: default;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__close {
    z-index: 10;
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    span {
      &:first-child {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5.2rem;
        height: 0.4rem;
        background-color: var(--main-mint);
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5.2rem;
        height: 0.4rem;
        background-color: var(--main-mint);
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__text {
    position: relative;
    padding: 4rem 4rem 2rem;
    width: 45%;

    .number {
      margin-bottom: -0.8rem;
      margin-left: -0.8rem;
      font-size: 9.2rem;
      font-weight: 100;
      color: var(--main-mint);
    }

    .title {
      display: inline-block;
      margin-top: -2rem;
      line-height: 5.2rem;
      font-size: 4.4rem;
      font-weight: 900;
      background-color: var(--main-mint);
    }

    .summary {
      margin: 2.4rem 0 4rem;
      line-height: 3.2rem;
      font-size: 2rem;
      word-break: keep-all;
      letter-spacing: -0.024em;
    }

    .link {
      position: relative;
      padding-bottom: 0.2rem;
      line-height: 2.8rem;
      font-size: 1.8rem;
      font-weight: 900;
      letter-spacing: -0.024em;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 2.4rem;
        right: 100%;
        height: 0.2rem;
        background-color: var(--color-black);
        transition: right 0.4s;
      }

      &:hover {
        &::before {
          right: 0;
        }
      }
    }

    .period,
    .company,
    .stack,
    .tasks {
      margin-top: 1.2rem;
      line-height: 2.8rem;
      font-size: 1.8rem;
      letter-spacing: -0.024em;

      span {
        display: block;
        font-weight: 900;
      }
    }

    .tasks + ul {
      list-style: none;

      li {
        position: relative;
        padding-left: 1.6rem;
        line-height: 2.8rem;
        font-size: 1.8rem;
        letter-spacing: -0.024em;

        &::before {
          content: "•";
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &__image {
    position: relative;
    width: 55%;

    img {
      position: static !important;
      width: 100% !important;
    }
  }
}
