@use "@/styles/_mixins" as *;

/* ABOUT */
.about {
  padding: 4rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-white);

  // common
  .web {
    display: block !important;
  }

  .mob {
    display: none !important;
  }

  // summary
  .title {
    line-height: 5.2rem;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;

    .photo {
      position: relative;
      padding-top: 4rem;
      width: 32%;

      img {
        display: block;
        position: static !important;
        width: 70% !important;
      }
    }

    .info {
      padding-left: 4rem;
      width: 68%;

      .text {
        margin-bottom: 5.2rem;
        line-height: 4.8rem;
        font-size: 4rem;
        font-weight: 900;

        span {
          background-color: var(--main-mint);
        }
      }

      .tech,
      .expe {
        margin-top: 4rem;

        h3 {
          display: inline-block;
          line-height: 4rem;
          font-size: 2.8rem;
          font-weight: 900;
          text-transform: uppercase;
          background-color: var(--main-mint);
        }

        ul {
          list-style: none;

          li {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 1.2rem;
            line-height: 3.2rem;
            font-size: 2rem;
            word-break: keep-all;
            list-style: none;

            p {
              &:nth-child(1) {
                width: 20%;
                font-weight: 900;
              }

              &:nth-child(2) {
                width: 80%;
              }

              span {
                display: block;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

/* RESPONSIVE */
@include desktopL {
}

@include desktopM {
  .about {
    // summary
    .title {
      line-height: 3.6rem;
      font-size: 2.8rem;
    }

    .content {
      margin-top: 8rem;

      .photo {
        padding-top: 0;
        width: 28%;

        img {
          width: 84% !important;
        }
      }

      .info {
        padding-left: 0;
        width: 72%;

        .text {
          line-height: 4rem;
          font-size: 3.2rem;
        }

        .tech,
        .expe {
          h3 {
            line-height: 3.2rem;
            font-size: 2rem;
          }

          ul {
            li {
              margin-top: 0.8rem;
              line-height: 2.8rem;
              font-size: 1.6rem;
            }
          }
        }

        .expe {
          ul {
            li {
              margin-top: 2rem;

              &:nth-child(1) {
                margin-top: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@include desktopS {
  .about {
    padding: 1.6rem 4rem 2.4rem;

    // summary
    .title {
      line-height: 3.6rem;
      font-size: 2.8rem;
    }

    .content {
      .info {
        .text {
          line-height: 3.6rem;
          font-size: 2.8rem;
        }

        .tech,
        .expe {
          margin-top: 2.4rem;

          ul {
            li {
              line-height: 2rem;
              font-size: 1.4rem;

              p {
                &:nth-child(1) {
                  width: 22%;
                }

                &:nth-child(2) {
                  width: 78%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include tablet {
}

@include mobile {
  .about {
    padding: 1.6rem 2rem 2rem;

    // summary
    .title {
      line-height: 2.8rem;
      font-size: 1.6rem;
    }

    .content {
      display: block;
      margin-top: 0;

      .photo {
        width: 100%;
        text-align: right;

        img {
          display: inline-block;
          width: 40% !important;
        }
      }

      .info {
        margin-top: -2.8rem;
        width: 100%;

        .text {
          margin-bottom: 0;
          line-height: 3.2rem;
          font-size: 2.4rem;
        }

        .tech,
        .expe {
          h3 {
            line-height: 2.4rem;
            font-size: 1.6rem;
          }

          ul {
            li {
              display: block;

              p {
                width: 100% !important;

                &:nth-child(1) {
                  span {
                    font-weight: 600;
                  }
                }

                br {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
