@use "@/styles/_mixins" as *;

/* IMPORT */
@import "../styles/reset.scss";
@import "../styles/variables.scss";

/* FONT */
@font-face {
  font-family: "Boris";
  src: url("../../public/fonts/Boris.ttf");
}

@font-face {
  font-family: "pretendard";
  src: url("../../public/fonts/PretendardVariable.woff2");
}

@font-face {
  font-family: "inter";
  src: url("../../public/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf");
}

/* RESET */
:root {
  --font-boris: "Boris", sans-serif;
  --font-pretendard: "pretendard", sans-serif;
  --font-inter: "inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --main-mint: #c2d8c4;

  --color-mint: #c2d8c4;
  --color-gray: #f5f5f5;
  --color-black: #000000;
  --color-white: #ffffff;

  --box-shadow: 0 0 1rem rgba(194, 216, 196, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: font-size 0.4s;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-black);
  font-size: 1.6rem;
  font-family: var(--font-pretendard);
  font-weight: 400;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}
