.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

  a {
    display: block;
    color: var(--color-black);
    font-size: 2rem;
    font-family: var(--font-boris);

    &.name {
      font-weight: bold;
    }

    &.mail {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.1rem;
        background-color: var(--color-black);
      }

      &:hover {
        & + .bubble {
          // display: block;
          opacity: 1;
        }
      }
    }
  }

  .bubble {
    // display: none;
    position: absolute;
    top: 100%;
    right: 2rem;
    padding: 1rem 2rem;
    color: var(--color-white);
    line-height: 2.4rem;
    font-size: 1.4rem;
    font-family: var(--font-pretendard);
    font-weight: 300;
    text-align: center;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 0.8rem;
    opacity: 0;
    transition: opacity 0.4s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      width: 1rem;
      height: 1rem;
      background-color: rgba(40, 40, 40, 0.8);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  .toast {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 8rem;
    color: var(--color-white);
    line-height: 3.2rem;
    font-size: 2rem;
    font-family: var(--font-pretendard);
    font-weight: 300;
    text-align: center;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 1.6rem;
    transform: translate(-50%, -50%);
    animation: fadeInOut 2s ease forwards;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
