/* INTRO */
.intro {
  padding: 8rem 4rem;

  .title {
    margin-top: 8rem;
    line-height: 10rem;
    font-size: 10rem;
    text-transform: uppercase;

    &__web {
      display: block;
    }

    &__dash {
      display: inline-block;

      width: 22.4rem;
      height: 0.3rem;
      background-color: var(--color-black);
      transform-origin: left center;
      opacity: 0.6;
    }

    &__dev {
      display: inline-block;
      margin-left: -0.6rem;
    }
  }

  .text {
    &__m {
      margin-top: 2rem;
      line-height: 4rem;
      font-size: 2.4rem;
      font-family: var(--font-boris);
    }

    &__s {
      margin-top: 8rem;
      line-height: 6rem;
      font-size: 4rem;
      font-family: var(--font-pretendard);
      font-weight: 100;

      span {
        display: inline-block;
        font-weight: 500;
      }
    }
  }
}
