/* INTRO */
.intro {
  padding: 8rem 4rem;

  .text {
    &__l {
      margin-top: 8rem;
      line-height: 10rem;
      font-size: 10rem;
      text-transform: uppercase;

      p {
        position: relative;
        padding-left: 15rem;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 13.2rem;
          height: 0.6rem;
          background-color: var(--main-mint);
          transform: translateY(-50%);
          opacity: 0.8;
        }
      }
    }

    &__m {
      margin-top: 2rem;
      line-height: 4rem;
      font-size: 2.4rem;
      font-family: var(--font-boris);
    }

    &__s {
      margin-top: 8rem;
      line-height: 6rem;
      font-size: 4rem;
      font-family: var(--font-pretendard);
      font-weight: 500;

      span {
        display: block;
        font-weight: 300;
        opacity: 0.8;
      }
    }
  }
}
