/* INTRO */
.intro {
  padding: 8rem 4rem;

  .title {
    margin-top: 8rem;
    line-height: 10rem;
    font-size: 10rem;
    text-transform: uppercase;

    &__web {
      display: block;
    }

    &__dash {
      display: inline-block;
      // position: relative;
      // top: 50%;
      // left: 0;
      width: 22.4rem;
      height: 0.6rem;
      background-color: var(--main-mint);

      transform-origin: left center;
      // transform: translateY(-50%);
    }
  }

  .text {
    &__m {
      margin-top: 2rem;
      line-height: 4rem;
      font-size: 2.4rem;
      font-family: var(--font-boris);
    }

    &__s {
      margin-top: 8rem;
      line-height: 6rem;
      font-size: 4rem;
      font-family: var(--font-pretendard);
      font-weight: 500;

      span {
        display: block;
        font-weight: 300;
        opacity: 0.8;
      }
    }
  }
}
